kernel:
  image: linuxkit/kernel:4.19.34
  cmdline: "console=tty0 console=ttyS0 console=ttyAMA0"
init:
  - linuxkit/init:v0.7
  - linuxkit/runc:v0.7
  - linuxkit/containerd:v0.7
  - linuxkit/ca-certificates:v0.7
onboot:
  - name: sysctl
    image: linuxkit/sysctl:v0.7
  - name: netdev
    image: linuxkit/modprobe:v0.7
    command: ["modprobe", "smsc95xx"]
services:
  - name: getty
    image: linuxkit/getty:v0.7
    env:
     - INSECURE=true
  - name: rngd
    image: linuxkit/rngd:v0.7
  - name: dhcpcd
    image: linuxkit/dhcpcd:v0.7
  - name: sshd
    image: linuxkit/sshd:v0.7
files:
  - path: root/.ssh/authorized_keys
    contents: {{ SSH_PUBLIC_KEY }}
trust:
  org:
    - linuxkit
